div{
    margin-left: 20px; 
    margin-top: 20px;
}

input{
 display: block;
    padding: 5px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;   
}

p{
    width: 55px;
    display: inline-block;
    padding: 5px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ced4da8c;
    border: 1px solid #ced4da;
    border-radius: 5px;   
}
